/* 

Paleta de colores:

https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8
 
Blanco............: #FFFFFF
Azul oscuro.......: #00171F
Azul..............: #003459
Celeste...........: #007EA7
Celeste claro.....: #00A8E8

*/
 
/*ESTILOS GENERALES -------------------------------------------------------------------------*/
 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
body {
    font-family: "Roboto", sans-serif;
}
 
nav {
    background-color: #00171F;
    /*color: #00171F;*/
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 20px 40px;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

a
{
    text-decoration: none;
}

div.navTitle{
    display: flex;
}

div.navTitle img
{
    height: 30px;
}

.animar
{
    animation: spin 1s infinite 4s ease;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

div.navTitle h1{
    margin-left: 20px;

}
 
h1 {
    color: #FFFFFF;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
}
 
 
div.menu a {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}
 
div.menu a:hover {
    text-decoration: underline;
}
 
h2 {
    color: #00171F;
    margin-left: 10%;
    margin-bottom: 15px;
    margin-top: 110px;
}

label
{
    color: #00171F;
}
 
p {
    color: #00171F;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8rem;
    margin: auto;
    margin-bottom: 1rem;
    width: 80%;
}
 
.footerGeneral h6 {
    background-color: #00171F;
    color: #FFFFFF;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    padding: 40px;
    margin-top: 80px;
    width: 100%;
}

div.contador
{
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
}

button , input , textarea , select
{
    border-radius: 10px;
}

div.navTitle h1:hover
{
    color: #007EA7;
}
 
.bold
{
    font-weight: bold;
}

/*PAGINA HOME ----------------------------------------------------------------------------*/
img.imagen-principal
{
    display: block;
    height: 100vh;
    margin: auto;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
 
section.principal h2 {
    margin-top: 60px;
}
 
table.premio {
    border: 1px solid #00171F;
    margin-left: 20px;
    margin: auto;
    width: 50%;
}
 
table.premio td {
    border: 1px solid #00171F;
    padding: 5px;
    width: 50%;
    text-align: center;
}
 
table.premio thead {
    background-color: #007EA7;
    font-weight: 700;
    letter-spacing: 1px;
}
 
/*PAGINA PRODUCTOS -------------------------------------------------------------------------*/
 
div.producto
{
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    width: 80%;
    align-items: center;
}
 
div.datos {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 80%;
}

span.precio-tachado
{
    font-size: 14px;
    color: rgb(97, 97, 97);
}

span.descuento
{
    color: rgb(7, 139, 7);
}

span.precio-final
{
    height: 50px;
    font-size: 22px;
}

div.stock
{
    margin-top: 10px;
}

div.producto:hover {
    box-shadow: 0px 0px 10px #007EA7;
    cursor: pointer;
}
 
div.producto:hover img {
    width: 320px;
}
 
div.producto img {
    transition: width 1s ease;
    width: 300px;
}

div.producto h3 {
    color: #007EA7;
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}

section.productos h2 {
    margin-bottom: 40px;
}


/*PAGINA CONTACTO -------------------------------------------------------------------------*/
 
section.contacto form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 450px;
}
 
section.contacto form label {
    font-size: 20px;
    margin-bottom: 5px;
}
 
section.contacto form input,
section.contacto form select,
section.contacto form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid silver;
    font-size: 18px;
}

 
section.contacto form input[type="submit"] {
    background-color: #007EA7;
    /*color:  #00171F;*/
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    margin-left: auto;
    width: 200px;
}
 
section.contacto form input[type="submit"]:hover {
    background-color: #003459;
    color: #FFFFFF;
    cursor: pointer;
}
 
section.mapa iframe {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 750px;
}

.error 
{
    box-shadow: 0px 0px 10px red;
}


/*PÃGINA OFERTASPERSONALIZADAS ---------------------------------------------------------------------*/
img.imgOferta
{
    display: block;
    margin: auto;
    margin-top: 70px;
}



/* PRUEBAS: Zona de pruebas -> reordenar el caso de adoptarse -----------------------------------------*/

.ml15 { /* https://tobiasahlin.com/moving-letters/#15 */
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

  